@charset "utf-8";
/* CSS Document */

body,td,th {
	font-size: 12px;
	font-family:"宋体";
}
body { 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #333;
}
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color:#333;
	text-decoration:underline;
}

.sel a:link {
	color: #fff;
	text-decoration: none;
}
.sel a:visited {
	color: #fff;
	text-decoration: none;
}
.sel a:hover {
	color: #fff;
	text-decoration:none;
}
.ft_1 a:link {
	color: #fff;
	text-decoration: none;
}
.ft_1 a:visited {
	color: #fff;
	text-decoration: none;
}
.ft_1 a:hover {
	color: #fff;
	text-decoration:none;
}

#apDiv1{
	width:94px;
	position:absolute;
	left: 119px;
	top: 39px;
	color:#FFF;
	z-index:9;
	display:none;
}
#apDiv2{
	width:94px;
	position:absolute;
	left: 311px;
	top: 39px;
	color:#FFF;
	z-index:9;
	display:none;
}
.sel{ width:94px; height:37px;background-color:#66dc00; line-height:37px; text-align:center; color:#FFF;}

#body{ width:100%;margin:0 auto;}
#hd{ width:100%;margin:0 auto;position:relative; text-align:center;}
.hd_1{ width:1004px; height:89px; margin:0px auto; padding:0px; overflow:hidden;}
.hd_w{width:100%; background:url("http://zjjschain.com/cn/images/1.jpg") repeat-x top; height:39px; text-align:center;}

.hd_2{ width:1004px;margin:0px auto; padding:0px;height:39px; text-align:left; position:relative;}
.hd_2 ul{ padding:0; margin:0; list-style-type:none;}
.hd_2 ul li{ display:block; padding:0; margin:0; float:left; height:39px; width:96px; background:url("http://zjjschain.com/cn/images/2.jpg") no-repeat right; color:#FFF; font-weight:bold; line-height:39px; text-align:center;}
.hd_2 ul li a:link {
	color: #fff;
	font-weight:bold;
	font-size: 12px;
	font-family:"宋体";
	text-decoration: none;
}
.hd_2 ul li a:visited {
	color: #fff;
	font-weight:bold;
	font-size: 12px;
	font-family:"宋体";
	text-decoration: none;
}
.hd_2 ul li a:hover {
	color: #fff;
	font-weight:bold;
	font-size: 12px;
	font-family:"宋体";
	background:url("http://zjjschain.com/cn/images/mouse_bg.jpg") no-repeat left center;
	display:block;
	line-height:39px;
	width:96px;
	text-decoration: none;
}

.hd_3{ width:1004px; margin:0px auto;overflow:hidden; background:url("http://zjjschain.com/cn/images/bg_03.jpg") repeat-y;}

#main{position:relative;margin:0px auto;width:1004px;overflow:hidden; background:url("http://zjjschain.com/cn/images/bg_03.jpg") repeat-y;}
.main_2{width:960px;position:relative;margin:0 auto; overflow:hidden;}
.main_3{width:960px;position:relative;margin:0 auto; overflow:hidden; background:url("http://zjjschain.com/cn/images/bg_01.jpg") repeat-y;}

.main_l{width:240px;overflow:hidden; float:left; padding-left:10px;}
.l_1{ width:240px; text-align:left;}
.l_2{ width:210px;text-align:left; padding-left:30px;}

.m_1{ width:960px; background:url("http://zjjschain.com/cn/images/bg_02.jpg") repeat-y;}
.m_2{ width:960px; height:24px; overflow:hidden;text-align:left; clear:both;}

.main_r{width:683px; overflow:hidden; padding-right:10px; float:right;}
.r_1{ width:683px; text-align:left;}
.r_2{ width:211px;text-align:left;}

#ft{ width:1004px;position:relative; margin:0px auto;}
.ft_1{width:1004px; height:30px; line-height:30px; text-align:left;margin:0px auto; padding-top:9px; background:url("http://zjjschain.com/cn/images/ft_bg.jpg") no-repeat; color:#FFF; text-align:center;}
.ft_2{width:1004px; height:50px;text-align:center;line-height:25px; padding-top:15px;}
