@charset=UTF-8

/*common css*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{
    color:#000;
	margin:0px;
	padding:0px;
}
body,p,th,td,span,label,div{font-size:9pt;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:normal; }
strong{font-weight:bold;}
ol,ul,li { list-style:none;padding:0px;margin:0px; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:11pt; font-weight:bold; }
q:before,q:after { content:“; }
abbr,acronym { border:0; }

/*产品分类*/
ul.producttype
{
	clear:both;
	margin:0px;
	padding:0px;
	width:100%;
}
.producttype0
{
	padding-left:30px;
	line-height:24px;
	margin-left:10px;
	text-align:left;
	padding-top:3px;
	background:url("http://zjjschain.com/cn/images/pro_bg.jpg") no-repeat left center;
}
.producttype1
{
	padding-left:60px;
	line-height:20px;
	background:#f6f6f6;
	display:none;
}

/*产品推荐*/
.productscommend td
{
	text-align:center;
}

/*产品*/
div.products
{
	clear:both;
	margin:0 auto;
	padding:5px;
	width:100%;
	text-align:center;
}
div.products div
{
	float:left;
	width:210px !important;
	width:220px;
	margin:5px;
	text-align:center;
}

div.products div td
{
	text-align:center;
}

/*新闻*/
ul.news
{
	clear:both;
	margin:0px;
	padding:0px;
	width:100%;
}
ul.news li
{
	text-align:left;
	background-image: url("images/gif-0109.gif.html");
	background-repeat: no-repeat;
	background-position: left top;
}
ul.news li a
{
	text-decoration:none;
}

.newstitle
{
	text-align:center;
}
.newssubtitle
{}
.newssubtitle span
{
	margin-left:20px;
	font-weight:bold;
}

/*图片*/
div.picture
{
	clear:both;
	margin:0 auto;
	padding:0px;
	width:100%
}
div.picture div
{
	float:left;
	margin:5px;
	width:210px !important;
	width:220px;
	text-align:center;
}

div.picture div td
{
	text-align:center;
}

/*下载*/
ul.downloads
{
	clear:both;
	width:100%;
	margin:0px;
	padding:0px;
	padding-top:5px;
}

ul.downloads li
{
	margin-bottom:5px;
	text-align:left;
}

ul.downloads li a
{
	text-decoration:none;
}

/*留言*/
ul.guest
{
	clear:both;
	width:100%;
	margin:0px;
	padding:0px;
	padding-top:5px;
}
ul.guest li
{
	margin-bottom:5px;
}
ul.guest li pre
{
	border:1px solid #ccc;
	margin-left:15px;
	padding:5px;
}

/*招聘*/
ul.jobs
{
	clear:both;
	margin:0 auto;
	padding:0px;
	padding-top:20px;
	width:100%;
}
ul.jobs li
{
	margin-bottom:20px;
}

ul.jobs td
{
	text-align:left;
}

/*分页*/
div.pager
{
	margin:0 auto;
	width:100%;
	text-align:center;
}
div.pager span
{
	margin-left:5px;
	margin-right:5px;
}
div.pager a
{
	margin-left:5px;
	margin-right:5px;
	text-decoration:none;
}

/*用户登录*/
ul.memberlogin
{
	clear:both;
	padding:0px;
	width:250px !important;
	width:260px;
}
ul.memberlogin li
{
	padding-left:20px;
	text-align:left;
}
ul.memberlogin li label
{
	display:block;
}

/*用户注册*/
ul.memberregister
{
	margin:0px;
	margin-top:8px;
	width:100%;
	clear:both;
	padding:0px;
}
ul.memberregister li
{
	padding:2px;
	margin-bottom:5px;
}
ul.memberregister li label
{
	width:80px !important;
	width:90px;
	display:block;
	float:left;
}

/*订购表单*/
ul.orderform
{
	clear:both;
}
ul.orderform li
{
	margin-top:5px;
}
ul.orderform li label
{
	width:80px !important;
	width:90px;
	float:left;
	display:block;
}

/*common css*/
.clear
{
	clear:both;
}

ul.testmenu
{
	padding:0px;
}
ul.testmenu li
{
	float:left;
	margin:5px;
}
.aa {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 50px;
	background-image: url("http://zjjschain.com/cn/css/images/cp_27.jpg");
	background-repeat: no-repeat;
	background-position: left bottom;
}
